body{
	font-size: 20pt;
	text-align: center;
}

.back{
	font-size: 12pt;
	text-align: left;
}

label{
	color: red;
	text-decoration: underline;
}

.form{
	display: none;
}

.tableDiv{
	display: none;
}

table, th, td {
  border: 1px solid black;
  font-size: 11pt;
  font-family: arial;
}